:root {
    font-family: Serif, serif;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 16px 0;
}

h1 {
   margin: 0;
    padding-bottom: 16px;
}

#field-container {
    display: grid;
    border: 1px solid lightgrey;
    height: 15rem;
    width: 15rem;
}


.field {
    border: 1px solid lightgrey;
}

